@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200);

body {
    margin: 0;
    font-family: Nunito, sans-serif;
}

body.dark {
    background-color: hsl(207, 26%, 17%); 
    color: white;
    
}